
.maincontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  .sec1 {
    display: flex;
    flex-direction: column;
    background-image: url('/img/banner.jpg');
    align-items: center;
    width: 100%;
    .sec1_1 {
      padding: 30px;
      text-align: center;
      h1 {
  font-family: Roboto;
  font-size: 56.2px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;

      }
      h5 {
  font-family: Roboto;
  font-size: 32.2px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  width:100%;
    }
    }

    .sec1_2 {
      align-items: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding : 20px;
      .bt1 {

        @include button-prop(281.6px,60.4px,#1ea2ff,30.2px);
        text-align: center;
        a {
  
  font-family: Roboto;
  font-size: 21px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
        }

      }
      p {

  font-family: Roboto;
  font-size: 22.5px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
      }

    }
    .sec1_3 {
      padding:20px;
      align-items: center;
      padding-bottom: 0px;
      img {
      padding: 20px;
      width: 100%;
      height: 429px;
      padding-bottom: 0px;

      object-fit: contain;
      @media screen and (max-width: 600px) {
        width:100%;
        height:auto;
      }

      }
    }

  }


 

  .sec2 {
    display: flex;
    flex-direction: column;
    width:100%;
    padding: 20px;

    @media screen and (max-width: 600px) {
      display: flex;
      flex-direction: column;

    }
    .sec2_1 {
      height: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: white;
      padding : 10px;
      height: 500px;
      
      img {
        width : 150px;
        height: 150px;
      }

      p {
    width : 55%;
    height: auto;  
    font-family: Roboto;
    font-size: 22.5px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
      letter-spacing: normal;
    text-align: center;
    color: #000000;
    @media screen and (max-width: 600px) {
      width: 80%;
      
    }
      }

    }

    .sec2_2 {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 20px;
      @media screen and (max-width: 600px) {
        display: flex;
        flex-direction: column-reverse;
        
      }
      .sec2_2_1 {
        padding: 100px;
        padding-right: 50px;

        @media screen and (max-width: 600px) {
          padding-left: 10px;

        }
  //       h1 {
  //           width: 367px;
  // height: 36px;
  // font-family: Roboto;
  // font-size: 45px;
  // font-weight: 300;
  // font-style: normal;
  // font-stretch: normal;
  // line-height: normal;
  // letter-spacing: normal;
  // text-align: left;
  // color: #000000;
  //       }
        h1 {

  font-family: Roboto;
  font-size: 45px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;

  @media screen and (max-width: 600px) {
    width: 100%;
    height: auto;
    font-size: 30px;

  }
        }

        p {

  font-family: Roboto;
  font-size: 22.5px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #000000;   
        }
        
        button {
            width: 142.1px;
  height: 39.8px;
  border-radius: 19.9px;
  background-color: #2b87f8;

  
        }
      }
      .sec2_2_2 {
        
        img {
          width: 600px;
          height: 600px;
          object-fit: contain;

        @media screen and (max-width: 600px) {
          width: 350px;
          height: auto;
        }
        }
      }
      
    }
    .sec2_3 {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 20px;
       @media screen and (max-width: 600px) {
         display: flex;
         flex-direction: column;
         justify-content: space-around;
       }
      .sec2_3_1 {

        img {
          width: 600px;
          height: 600px;
          object-fit: contain;

           @media screen and (max-width: 600px) {
                       width: 350px;
          height: auto;
           }
        }
      }
      .sec2_3_2 {
        padding: 100px; 

             @media screen and (max-width: 600px) {
          padding-left: 10px;

        }
        h1 {
  font-family: Roboto;
  font-size: 45px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
    @media screen and (max-width: 600px) {
    width: 100%;
    height: auto;
    font-size: 30px;

  }
        }

        p {
            width: 467px;
  height: 60px;
  font-family: Roboto;
  font-size: 22.5px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #000000;

       @media screen and (max-width: 600px) {
          width: 100%;
          height: auto;

        }
        }

        button {
            width: 142.1px;
  height: 39.8px;
  border-radius: 19.9px;
  background-color: #2b87f8;
        }

             
      }
    }
    
  }
  .sec3 {
    padding:20px;
    width: 100%;
    height: auto;
    .sec3_1{
      display: flex;
      flex-direction: row;

             @media screen and (max-width: 600px) {
               display: flex;
               flex-direction: column;
             }
      img {
        width: 25%;
        height: auto;
      }
    }
  }

  .sec4 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url('/img/insights_bg.jpg');
    object-fit: contain;
    padding:50px;
    .sec4_1 {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding : 25px;
        
    }
    .sec4_2 {
      width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
                padding : 25px;

    }
    
  }

  .sec5temp {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #273140;

    .sec5temp_1 {
        padding: 20px;
        width: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;
          h1 {
  font-family: Roboto;
  font-size: 45px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;

          }

          h3 {
          
  font-family: Roboto;
  font-size: 39.9px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
          }

          h5 {

  font-family: Roboto;
  font-size: 15.5px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #f27f21;
          }

          p {
  font-family: Roboto;
  font-size: 22.5px;
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;

    span {
      color: #f27f21;
    }
          }

    hr {
      width: 50%;
      color:white;
      border-top:0.2px solid white;
    }

    }

    .sec5temp_2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    p {

  font-family: Roboto;
  font-size: 22.5px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
    }
    button {
        width: 281.6px;
  height: 60.4px;
  border-radius: 30.2px;
  background-color: #1ea2ff;
    }


    }
  }


  .smallsec {
  width: 100%;
  height: 3.4px;
  background-image: linear-gradient(to right, #11db4f, #7234ff), linear-gradient(#273140, #273140);
  }
  .sec5 {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  background-color: #273140;
    
    .sec5_1 {
      width: 100%;
      
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
  font-family: Roboto;
  font-size: 45px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
      }
      h4 {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
      }
    }
    .sec5_2 {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: auto;
      justify-content: space-around;
      padding: 50px;
      
             @media screen and (max-width: 600px) {
        
        width:100%;
        display: flex;
         flex-direction: column;
         align-items: center;
        padding:100px;

        }

      .sec5_2_1 {
        width: 313.1px;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #3e4a5c;
        padding:25px;
        background-image: url('/img/building.svg');
          color: #ffffff;

        
        h4 {

  font-family: Roboto;
  font-size: 27px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
        }
        h5 {
            font-family: Roboto;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #62f346;
        }

        button {
            width: 161.3px;
  height: 45.8px;
  opacity: 0.15;
  border-radius: 22.9px;
  background-color: #ffffff;
  border: solid 2px #62f346;
        }
      }

      .sec5_2_2 {
    width: 313.1px;
    display: flex;
    align-items: center;
    flex-direction: column;
          background-color: #3e4a5c;
                padding:25px;
      color: #ffffff;

    background-image: url('/img/user.svg');

    h4 {
        font-family: Roboto;
  font-size: 27px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
    }
    

    h5 {
        font-family: Roboto;
  font-size: 21px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #40a3ff;
    }
              button {
            width: 161.3px;
  height: 45.8px;
  opacity: 0.15;
  border-radius: 22.9px;
  background-color: #ffffff;
  border: solid 2px #62f346;
        }
      }

    }

    
  }

  .sec6 {
    display: flex;
    flex-direction: column;
    width : 100%;
    background-color: #212a38;
    align-items: center;
    padding: 25px;
    .sec6_1 {
      h1 {
          font-family: Roboto;
  font-size: 57.2px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
      }
    }

    .sec6_2 {
      display: flex;
      align-items: center;
      flex-direction: column; 
      
      input {
            background-color: #212a38;
            text-align: center;
            border:0px;
            border-bottom: 1px solid white;
              opacity: 0.2;
  font-family: Roboto;
  font-size: 28.6px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.2);
      }
      button {
  width: 55%;
  height: auto;
  border-radius: 38.3px;
  background-color: #1ea2ff;
      }
    }
  }


  .socialsection {
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
      background-color: #2c3748;

    .socialsection_1 {
      display: flex;
      flex-direction: row;
      
      a {
        text-align: center;
        img {
          width: 50%;
          height: auto;
        }
      }
    }
  }

  .sec7 {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #212a37;
    text-align: center;
    padding: 30px;
    ul {
      list-style: none;
    }
    li {
        font-family: ProximaNova;
  font-size: 22.5px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #8e9aac;
    }
    h5 {
      text-align: center;
  font-family: ProximaNova;
  font-size: 22.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
    }
    .sec7_1 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        height: 100%;
        .sec7_1_1 {
          width : 50%;


        }
        .sec7_1_2 {
          width: 50%;
        }

    }
    .sec7_2 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        height: 100%;

        .sec7_2_1 {
          width : 50%;

        }
        .sec7_2_2 {
          width: 50%;
        }

    }
    
  }
}

    .dropdown {
      
      display: none;
      flex-direction:column;
      align-items:center;
      width:100%;
      height:100%;
      background-color: #212a37;
      overflow: none;
      
      a {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 3;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
      }

     
      
    }

    #crossbutton {
      color:white;
    }

.navbardiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top:25px; 
  color:white;
  width: 100%;

@media screen and (max-width: 600px){
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-around; 
  margin-top:0px;
}
  .navbardiv_1 {
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    width:70px;
    justify-content: space-between;

    @media screen and (max-width: 600px){
      width: 100%;
      margin-left: 0px;
      display: flex;
      justify-content: flex-start;
    }
    
    .navbarimg {
      height: 23px;
      width:25px;


    }
  }
  .navbardiv_2 {
    //border: 5px solid red;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width:50%;
    margin-left: 50px;
    padding-right: 25px;
    .navbar {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-content: space-between;
    width : 100%;
    //border: 2px solid crimson;

        @media screen and (max-width: 600px){
          display: none;
        }
      .listnavbar {
      padding: 10px;
    }
      .mlink {
      border:1px solid white;
      border-radius: 25px;
      padding-top:5px;
      padding-bottom: 5px;
      padding-left: 15px;
      padding-right: 15px;
    }

    a {
      color:white;
      font-size: 15px;
    }

   
  }
   .fa {
      display: none;
          @media screen and (max-width: 600px){
            display: flex;
          }
    }

}
}


#coloredbar1 {
    width:100%;
  height: 8.6px;
  background-image: linear-gradient(to right, #19b76b, #788a53), linear-gradient(#62f346, #62f346);
}


#coloredbar2 {
    width: 100%;
  height: 8.4px;
  background-image: linear-gradient(to right, #1e7bb6, #6c43d3), linear-gradient(#62f346, #62f346);
}
.mcontainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top : 20px;
  .logincontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
  
  .containersection1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 35%;
      height: auto;
    }
  }
  .containersection2 {
    display: flex;
    flex-direction: column;
    button {
   
  border-radius: 49px;
  background-image: linear-gradient(330deg, #26c867, #00b7a4), linear-gradient(#2b87f8, #2b87f8);
    }
    }

    .containersection3 {
      button {
 
  border-radius: 49px;
  background-image: linear-gradient(330deg, #26c867, #00b7a4), linear-gradient(#f3645c, #f3645c);
      }
    }

    .containersection4 {
        border-radius: 49px;
  background-color: #ffffff;
  border: solid 3px #a4a8ad;
    }
  }
}

.blogcontainer {

  display: flex;
  flex-direction: column;
  align-items: center;
  
  .blogsection3 {
    display: flex;
    flex-direction: column;
    .bloglist {
      list-style: none;
      display: flex;
      flex-direction: row;
    } 
  }

  .blogsection4 {
    display: flex;
    flex-direction: column;

    .blogsection4_2{
      display: flex;
      flex-direction: row;
      
      
      
    }
  }
}

.footer {
  height: 69.3px;
  background-color: #1d2531;
  text-align: center;
  width: 100%;
  .p {
  width: 100%;
  height: 17px;
  font-family: ProximaNova;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #3e4959;
  }
}
.maincontainer > .sec2 > .sec2_2 {
      //justify-content: flex-start;
      //flex-direction: column;
      @extend .mom-flex-centre;
      
    }
 @media screen and (max-width: 600px)  {

  //  .maincontainer {
  //    width: 100%;
  //  }

  //   .maincontainer > sec1 {
  //     display: flex;
  //     flex-direction: column;
  //     width: 100%;
      
  //   }
  //   .maincontainer > .sec2 > .sec2_2 {
  //     justify-content: flex-start;
  //     flex-direction: column;
  //     padding : 30px;
      
  //   }

  //   .maincontainer > .sec2 > .sec2_3 {
  //     justify-content: flex-start;
  //     flex-direction: column;
  //     padding : 30px;

  //   }

    // .maincontainer > .sec3 > .sec3_1 {
    //   justify-content: flex-start;
    //   flex-direction: column;
    // }

    .maincontainer > .sec4 {
      justify-content: flex-start;
      flex-direction: column;
      width :100%;
      align-items: center;

      
     }

     .maincontainer > .sec4 > .sec4_1 {
       width : 100%;
       flex-direction : row;
       justify-content: space-around;
     }

      .maincontainer > .sec4 > .sec4_2 {
       width : 100%;
       flex-direction : row;
       justify-content: space-around;
     }

  //  .maincontainer > .sec5 > .sec5_1 {
  //    justify-content: flex-start;
  //    flex-direction: column;
  //  }
    
    .maincontainer > .sec7 {
      justify-content: flex-start;
      flex-direction: column;
    }

    // .navbar {
    //   background-color: red;
    //   visibility: hidden;
    // }
    // .navbardiv > .navbardiv_2 > .fa{
    //   display: flex;
    // }

    // .navbardiv > .navbardiv_2 > .dropdown{
      
    // }
    
  }

